@using ParallelTracker.Controllers
@inject ParallelTracker.Tools.CurrentResources CurrentResources
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var action = ViewContext.RouteData.Values["action"].ToString();
	var repo = CurrentResources.Repo;

	string getActiveText(string checkAction) => checkAction == action ? "active" : "";

}

<h3>
	<img src="@repo.AvatarUrl" alt="Repo avatar" height="45" class="mr-2" />
	<a href="@repo.GitHubOwnerUrl" target="_blank">@repo.GitHubOwnerLogin</a>/<a href="@repo.Url" target="_blank">@repo.Name</a>
</h3>

<p class="text-muted" style="font-size: small">
	Copied by <strong>@repo.Owner.UserName</strong> on <strong>@repo.CopiedAt.ToString("d")</strong><br />
</p>
<div class="card mb-3">
	<div class="card-body p-2 px-3">@repo.Description</div>
</div>
<ul class="nav nav-tabs mb-2">
	<li class="nav-item">
		<a class="nav-link @getActiveText(nameof(ReposController.Details))" asp-action="@nameof(ReposController.Details)" asp-route-id="@repo.Id">Details</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @getActiveText(nameof(ReposController.Edit))" asp-action="@nameof(ReposController.Edit)" asp-route-id="@repo.Id">Manage</a>
	</li>
</ul>
@RenderBody()

@await RenderSectionAsync("Scripts", required: false)