@using ParallelTracker.Controllers
@inject ParallelTracker.Tools.CurrentResources CurrentResources
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var action = ViewContext.RouteData.Values["action"].ToString();
	var controller = ViewContext.RouteData.Values["controller"].ToString();
	var repo = CurrentResources.Repo;
	var issue = CurrentResources.Issue;

	string currentTab = "";

	if (issue != null || action == "Details")
	{
		currentTab = "Issues";
	}
	else if (action == "Edit")
	{
		currentTab = "Edit";
	}

	string getActiveText(string tabName) => tabName == currentTab ? "active" : "";

}

<h3>
	<img src="@repo.AvatarUrl" alt="Repo avatar" height="45" class="mr-2" />
	<a asp-controller="Repos" asp-action="Details" asp-route-id="@repo.Id">@repo.FullName</a>
</h3>

<p class="text-muted" style="font-size: small">
	Copied by <strong>@repo.Owner.UserName</strong> on <strong>@repo.CopiedAt.ToString("d")</strong><br />
	<a href="@repo.Url" target="_blank">GitHub page</a>
</p>
@RenderBody()

@section Scripts {
	@await RenderSectionAsync("Scripts", required: false)
}