@model ParallelTracker.Models.Issue
@inject ParallelTracker.Tools.CurrentResources CurrentResources

@{
	var issue = CurrentResources.Issue;
	ViewData["Title"] = $"Issue #{issue.Id}";
	Layout = "~/Views/Shared/_RepoLayout.cshtml";
}

<h4 class="d-flex flex-row">
	@if (issue.IsClosed)
	{
		<text>&#10004;</text>
	}
	else
	{
		<text>&#9888;</text>
	}
	<span class="ml-1">@issue.Title</span>
	<a class="btn btn-sm btn-primary ml-auto" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

</h4>
<p class="text-muted" style="font-size: small">
	opened by <strong>@issue.Author.UserName</strong> on <strong>@issue.CreatedAt.ToString("d")</strong>
	@if (issue.IsClosed)
	{
		<br />
		<text>closed on <strong>@issue.ClosedAt?.ToString("d")</strong></text>
	}
</p>
<hr />

<div class="card">
	<div class="card-header text-muted py-1">
		<strong>@issue.Author</strong> on @issue.CreatedAt.ToString("g")
	</div>
	<div class="card-body">
		@if (string.IsNullOrEmpty(issue.Text))
		{
			<p class="card-text font-italic">No desciption provided</p>
		}
		else
		{
			<p class="card-text">@issue.Text</p>
		}
	</div>
	@if (issue.IsEdited)
	{
		<div class="card-footer text-muted py-0">
			<small>edited on @issue.CreatedAt.ToString("g")</small>
		</div>
	}
</div>
