@model ParallelTracker.Models.Repo

@{
	ViewData["Title"] = $"{Model.FullName}";
	Layout = "~/Views/Shared/_RepoLayout.cshtml";
}

<div class="card mb-3">
	<div class="card-body p-2 px-3">@Model.Description</div>
</div>
<hr />
<h4 class="d-flex flex-row mb-3">
	Issues
	<a class="btn btn-sm btn-primary ml-auto" asp-controller="Issues" asp-action="Create" asp-route-repoId="@Model.Id">New Issue</a>
</h4>

@if (Model.Issues.Count() == 0)
{
	<div class="card">
		<div class="card-body text-center">
			The list is empty.
		</div>
	</div>
}

@foreach (var issue in Model.Issues)
{
	<div class="card mb-2">
		<div class="card-body p-3">
			<h5 class="card-title d-flex flex-row my-0">
				@if (issue.IsClosed)
				{
					<text>&#10004;</text>
				}
				else
				{
					<text>&#9888;</text>
				}
				<a class="ml-1" asp-controller="Issues" asp-action="Details" asp-route-id="@issue.Id">@issue.Title</a>
				<span class="badge badge-pills badge-light ml-auto p-2">&#128172; @issue.Comments.Count()</span>
			</h5>
			<span class="card-subtitle mb-1 text-muted">by <strong>@issue.Author.UserName</strong> on <strong>@issue.CreatedAt.ToString("d")</strong></span>
		</div>
	</div>
}

@* TODO: Add Pagiantion *@